.node {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
}

.empty {
  background-color: blanchedalmond;
}

.source {
  background-color: darkseagreen;
}

.target {
  background-color: mediumpurple;
}

.visited {
  background-color: coral;
}

.shortest-path {
  background-color: mediumturquoise;
}
